bin
lib
tools
packages
v14
Debug
*.user
Release
/ProteinService/*.nupkg
/Cheeseburger/App_Data/Cheeseburger.Repository.CheeseburgerDbContext.mdf
/Cheeseburger/App_Data/Cheeseburger.Repository.CheeseburgerDbContext_log.ldf
